[project]
name = "rl-practice"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "gymnasium[classic-control,other]>=1.2.2",
    "ipykernel>=7.1.0",
]
